$primaryColor: #4527a4;

// Common CSS
html {
  scroll-behavior: smooth;
}

// Dashicon
.dashicons {
  font-family: dashicons !important;
}

.mainDiv {
  box-sizing: border-box;
  width: 100%;
  position: relative;
}

.top-shaped {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
.top-shaped svg{
  height: auto;
}

.bottom-shaped svg {
  position: absolute;
  left: 0;
  bottom: 0;
  height: auto;
}

.innerBlock {
  position: absolute;
  height: 300px;
  width: 100%;
}

.innerBlock::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.innerBlock:hover::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

// Block Name
.wp-block-prefix-block-name {
  * {
    box-sizing: border-box;
  }

  .prefixBlockName {
    display: inline-block;
  }

  .icon {
    font-style: inherit;
  }

  img {
    width: 100%;
    max-width: 100%;
  }
}
